Libro creado exitosamente !!
<p> Detalles del libro:
    <ul>
        
        <li>Nombre del libro <%= book.title %></li>
        <li>Año <%= book.year %></li>
        
    </ul>
</p>
<a href="/public/newbook.html">Nuevo libro</a><br/>