Creado exitosamente !!
<p> Detalles de la persona:
    <ul>
        
        <li>Nombre de la persona <%= person.name %></li>
        <li>Edad <%= person.age %></li>
        
    </ul>
</p>
<a href="/public/personal.html">Nueva persona</a><br/>
<a href="/all">Todos</a>