Hello, <%= name %> nice to meet you.
<p> Here are the animals, you like:
	<ul>
		<% animals.forEach( (animal) => { %>
		<li><%= animal %></li>
		<% }); %>
	</ul>
</p>
<a href="/public/formulario.html">ir al formulario</a>